$bgColor: #d7d7d7;
$lightFontColor: #f9f9f9;
$mainPaddingLeft: 15px;
$mainPaddingTop: 20px;
$desktopWidth: 1000px;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;

  height: 100%;
}

body {
  background-color: $bgColor;

  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 42px 1fr;
  grid-template-areas: "header" "main";
}

a {
  text-decoration: none;
}

route-link:hover {
  cursor: pointer;
}

main {
  max-width: $desktopWidth;

  margin: auto;

  padding-top: $mainPaddingTop;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}
