about-view {
  h1 {
    margin-bottom: 20px;
  }

  h2 {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  $paddingLeftP: 39px;

  p {
    padding-left: $paddingLeftP;
  }

  ul {
    padding-top: 20px;
    padding-left: $paddingLeftP + 35px;

    li {
      margin-bottom: 6px;
    }
  }
}
