about-view {
  display: flex;
  flex-direction: column;

  max-width: 650px;

  h1 {
    margin-bottom: 20px;
  }

  ol {
    padding-left: 50px;
    padding-right: 50px;

    $liFontSize: 1.4rem;

    li::marker {
      font-size: $liFontSize - 0.2rem;
      font-weight: bold;
    }

    h2 {
      margin-top: 25px;
      margin-bottom: 20px;
      margin-left: 10px;

      font-size: $liFontSize;
    }

    $paddingLeftP: 15px;

    p {
      padding-left: $paddingLeftP;
      margin-bottom: 15px;
    }

    ul {
      padding-left: $paddingLeftP + 50px;

      li {
        margin-bottom: 6px;
      }
    }
  }
}
