about-view {
  display: flex;
  flex-direction: column;

  max-width: 600px;

  @media (max-width: 600px) {
    max-width: 100vw;
  }

  h1 {
    margin-bottom: 20px;

    padding-left: 10px;
    padding-right: 10px;
  }

  ol {
    padding-left: 45px;
    padding-right: 45px;

    $liFontSize: 1.4rem;

    li::marker {
      font-size: $liFontSize - 0.2rem;
      font-weight: bold;
    }

    h2 {
      margin-top: 25px;
      margin-bottom: 20px;
      margin-left: 10px;

      font-size: $liFontSize;
    }

    p {
      padding-left: 15px;
      margin-bottom: 15px;
    }

    table {
      padding-left: 20px;
      padding-right: 40px;
      border-spacing: 0;
      border-collapse: separate;

      td,
      th {
        padding: 7.5px;
        border: solid 0.25px #1b1c1f;

        text-align: center;
      }

      tr:nth-child(odd),
      th {
        background-color: lighten(grey, 32%);
      }

      tr:nth-child(even),
      th {
        background-color: lighten(grey, 36%);
      }
    }
  }
}
