@use "../components/form_utils" as fu;

admin-view {
  &[signed-in="false"] {
    @include fu.form;
  }

  &[signed-in="true"] {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas: "msg" "sign-out-button" "add-new-links";

    @include fu.formButton;
    @include fu.formReturnMsg;

    p {
      margin-top: 40px;

      span {
        color: darkblue;
      }
    }

    #add-new {
      p {
        margin-bottom: 20px;
      }

      ul {
        margin-left: 40px;

        li {
          margin-bottom: 7px;
        }

        @include fu.routeLinkDecoration;
      }
    }
  }
}
