@use "../components/game_records_table" as grt;

game-record-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
  justify-items: center;

  #glift {
    width: 500px;
    height: 500px;
  }

  #players-names {
    $nameWidth: 290px;

    display: grid;
    grid-template-columns: $nameWidth max-content max-content max-content max-content max-content $nameWidth;
    grid-template-rows: max-content;
    grid-column-gap: 15px;
    grid-template-areas: "black-dot black-name black-picture vs white-picture white-name white-dot";
    align-items: center;

    h2 {
      display: flex;
      gap: 15px;
      align-items: center;

      &#black {
        justify-content: end;
      }

      &#white {
        justify-content: start;
      }
    }

    svg {
      width: 50px;
      height: 50px;
    }

    @include grt.imgDecoration(90px);
  }

  #card {
    @include grt.spanAlignment;

    @mixin cardLegendGrid {
      display: grid;
      grid-template-columns:
        grt.$eloDeltaWidth grt.$eloWidth
        grt.$handicapWidth grt.$dateWidth 80px 100px grt.$eventWidth
        grt.$eloWidth grt.$eloDeltaWidth;
      grid-column-gap: grt.$columnGap;
      justify-items: center;
    }

    #legend {
      @include cardLegendGrid;
      @include grt.legendDecoration;
      @include grt.cardPadding;
    }

    #content {
      @include cardLegendGrid;
      @include grt.card;
    }

    a#download {
      padding: 8px;

      border: 2px solid lighten(black, 40%);
      border-radius: 4px;

      color: black;
    }
  }
}
