@use "../components/table_utils" as tu;

@use "../components/game_events_table" as get;
@use "../components/players_table" as pt;

game-event-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
  justify-items: center;

  #event-name {
    h2 {
      font-size: 2.2rem;
    }
  }

  #card {
    @include tu.spanAlignment;

    @mixin cardLegendGrid {
      display: grid;
      grid-template-columns:
        get.$gameEventTypeWidth
        tu.$dateWidth tu.$dateWidth
        pt.$gamesTotalWidth pt.$gamesTotalWidth;
      grid-column-gap: tu.$columnGap;
      justify-items: center;
    }

    #legend {
      @include cardLegendGrid;
      @include tu.legendDecoration;
      @include tu.cardPadding;
    }

    #content {
      @include cardLegendGrid;
      @include tu.card;
    }
  }
}
