@use "../components/game_records_table" as grt;
@use "../components/game_events_table" as get;
@use "../components/players_table" as pt;

game-event-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
  justify-items: center;

  #event-name {
    h2 {
      font-size: 2.2rem;
    }
  }

  #card {
    @include grt.spanAlignment;

    @mixin cardLegendGrid {
      display: grid;
      grid-template-columns:
        get.$gameEventTypeWidth
        grt.$dateWidth grt.$dateWidth
        pt.$gamesTotalWidth pt.$gamesTotalWidth;
      grid-column-gap: grt.$columnGap;
      justify-items: center;
    }

    #legend {
      @include cardLegendGrid;
      @include grt.legendDecoration;
      @include grt.cardPadding;
    }

    #content {
      @include cardLegendGrid;
      @include grt.card;
    }
  }
}
