@use "../components/game_records_table" as grt;

player-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 165px 1fr;
  grid-row-gap: 20px;
  grid-template-areas: "name" "metadata" "game-records";
  justify-items: center;

  #name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    img {
      max-height: 80px;
    }
  }

  #player-personal-card {
    @include grt.spanAlignment;

    @mixin cardLegendGrid {
      display: grid;
      grid-template-columns: 240px 60px 60px 60px 120px;
      grid-column-gap: grt.$columnGap;
    }

    #player-personal-card-content {
      @include cardLegendGrid;
      @include grt.card;
    }

    #player-personal-card-legend {
      @include cardLegendGrid;
      @include grt.legendDecoration;
      @include grt.cardPadding;
    }
  }
}
