@use "../globals" as g;

@use "../components/table_utils" as tu;

player-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 255px 350px 1fr;
  grid-row-gap: 20px;
  grid-template-areas: "name" "metadata" "elo-graph" "game-records";
  justify-items: center;

  #graph {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 325px;

    h2 {
      font-size: 1.8rem;
    }

    canvas {
      max-width: 350px;
      max-height: 350px;

      @include tu.cardDecoration;
      background-color: whitesmoke;

      padding: 15px 20px;
    }
  }

  #name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    @include tu.imgDecoration(100px);
  }

  #player-personal-card {
    @include tu.spanAlignment;

    margin-left: -40px;

    display: flex;
    flex-direction: row;

    @mixin cardLegendGrid {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: tu.$columnGap;
    }

    #player-personal-card-content {
      @include cardLegendGrid;
      @include tu.card;
    }

    #player-personal-card-legend {
      @include cardLegendGrid;
      @include tu.legendDecoration;
      @include tu.cardPadding;
    }
  }
}
