*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  height: 100%;
}

body {
  background-color: #d7d7d7;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 42px 1fr;
  grid-template-areas: "header" "main";
}

a {
  text-decoration: none;
}

route-link:hover {
  cursor: pointer;
}

main {
  max-width: 1050px;
  margin: auto;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

header {
  grid-area: header;
  background-color: green;
  font-size: 1.1rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}
header nav-bar nav {
  display: flex;
  gap: 20px;
}
header nav-bar nav route-link {
  color: #f9f9f9;
}
header nav-bar nav route-link svg {
  padding-top: 2px;
  width: 18px;
  fill: white;
}

footer {
  grid-area: footer;
  position: relative;
  bottom: 0;
}
footer footer-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding-bottom: 5px;
  padding-top: 10px;
}
footer footer-container svg {
  width: 24px;
  fill: #717171;
}

game-records-table span:not(.align-left) {
  display: flex;
  justify-content: center;
  text-align: center;
}
game-records-table .align-left {
  display: flex;
  justify-content: left;
  text-align: left;
}
game-records-table h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 1.8rem;
  max-width: 400px;
  text-align: center;
}
game-records-table h2 route-link {
  color: #005c00;
}
game-records-table route-link {
  margin: 0 auto;
}
game-records-table .pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
game-records-table .pagination button {
  background: whitesmoke;
  border: 3px solid #eee;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.15s ease-in-out;
  font-size: 1.1rem;
  font-size: 1.6rem;
  padding: 10px;
  cursor: pointer;
}
game-records-table .pagination button:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -0.5px, 0px);
}
game-records-table .loader-container {
  display: none;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}
game-records-table .loader-container .loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid green;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
game-records-table route-link.card {
  margin-bottom: 35px;
  width: max-content;
  background: whitesmoke;
  border: 3px solid #eee;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.15s ease-in-out;
  font-size: 1.1rem;
  padding: 10px 10px;
  margin-bottom: 10px;
  align-items: center;
}
game-records-table route-link.card:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -0.5px, 0px);
}
game-records-table route-link.card route-link {
  color: #000066;
}
game-records-table route-link.card span[winner] {
  color: #005200;
}
game-records-table route-link.card span[loser] {
  color: #660000;
}
game-records-table route-link.card img {
  max-width: 70px;
  max-height: 70px;
  border-radius: 10px;
}
game-records-table #legend {
  padding: 10px 10px;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}
@media (max-width: 1050px) {
  game-records-table .non-mobile {
    display: none !important;
  }
}
game-records-table .player {
  display: grid;
  grid-template-columns: 70px 80px 50px 40px 40px;
  grid-column-gap: 10px;
  align-items: center;
}
game-records-table .meta {
  display: grid;
  grid-template-columns: 40px 60px 90px 100px;
  grid-column-gap: 10px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1050px) {
  game-records-table .meta {
    grid-template-columns: 90px 100px !important;
    grid-column-gap: 40px !important;
    border-top: 1px solid black;
    padding-top: 12.5px;
    padding-bottom: 5px;
  }
}
game-records-table route-link.card,
game-records-table #legend {
  display: grid;
  grid-template-columns: 15px 320px 320px 320px;
  grid-column-gap: 10px;
}
@media (max-width: 1050px) {
  game-records-table route-link.card,
game-records-table #legend {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(min-content, 70px);
    grid-row-gap: 10px;
  }
  game-records-table route-link.card .meta,
game-records-table #legend .meta {
    display: grid;
    grid-template-columns: 60px 90px 100px;
    grid-column-gap: 10px;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1050px) {
  game-records-table #legend {
    display: none;
  }
}
game-records-table route-link.card[player-wins] {
  background-color: #e6ffe6;
}
game-records-table route-link.card[player-loses] {
  background-color: #ffe6e6;
}

players-table route-link.card,
players-table #legend {
  display: grid;
  grid-template-columns: 15px 70px 80px 50px 40px 35px 100px 65px;
  grid-column-gap: 10px;
}
@media (max-width: 1050px) {
  players-table route-link.card,
players-table #legend {
    grid-template-columns: 15px 70px 80px 50px 40px 35px;
  }
}
players-table span:not(.align-left) {
  display: flex;
  justify-content: center;
  text-align: center;
}
players-table .align-left {
  display: flex;
  justify-content: left;
  text-align: left;
}
players-table h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 1.8rem;
  max-width: 400px;
  text-align: center;
}
players-table h2 route-link {
  color: #005c00;
}
players-table route-link {
  margin: 0 auto;
}
players-table .pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
players-table .pagination button {
  background: whitesmoke;
  border: 3px solid #eee;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.15s ease-in-out;
  font-size: 1.1rem;
  font-size: 1.6rem;
  padding: 10px;
  cursor: pointer;
}
players-table .pagination button:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -0.5px, 0px);
}
players-table .loader-container {
  display: none;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}
players-table .loader-container .loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid green;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
players-table route-link.card {
  margin-bottom: 35px;
  width: max-content;
  background: whitesmoke;
  border: 3px solid #eee;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.15s ease-in-out;
  font-size: 1.1rem;
  padding: 10px 10px;
  margin-bottom: 10px;
  align-items: center;
}
players-table route-link.card:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -0.5px, 0px);
}
players-table route-link.card route-link {
  color: #000066;
}
players-table route-link.card span[winner] {
  color: #005200;
}
players-table route-link.card span[loser] {
  color: #660000;
}
players-table route-link.card img {
  max-width: 70px;
  max-height: 70px;
  border-radius: 10px;
}
players-table #legend {
  padding: 10px 10px;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}
@media (max-width: 1050px) {
  players-table .non-mobile {
    display: none !important;
  }
}

game-events-table route-link.card,
game-events-table #legend {
  display: grid;
  grid-template-columns: 15px 160px 75px 65px 90px 90px;
  grid-column-gap: 10px;
}
@media (max-width: 1050px) {
  game-events-table route-link.card,
game-events-table #legend {
    grid-template-columns: 15px 160px 75px 90px;
  }
}
game-events-table span:not(.align-left) {
  display: flex;
  justify-content: center;
  text-align: center;
}
game-events-table .align-left {
  display: flex;
  justify-content: left;
  text-align: left;
}
game-events-table h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 1.8rem;
  max-width: 400px;
  text-align: center;
}
game-events-table h2 route-link {
  color: #005c00;
}
game-events-table route-link {
  margin: 0 auto;
}
game-events-table .pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
game-events-table .pagination button {
  background: whitesmoke;
  border: 3px solid #eee;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.15s ease-in-out;
  font-size: 1.1rem;
  font-size: 1.6rem;
  padding: 10px;
  cursor: pointer;
}
game-events-table .pagination button:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -0.5px, 0px);
}
game-events-table .loader-container {
  display: none;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}
game-events-table .loader-container .loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid green;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
game-events-table route-link.card {
  margin-bottom: 35px;
  width: max-content;
  background: whitesmoke;
  border: 3px solid #eee;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.15s ease-in-out;
  font-size: 1.1rem;
  padding: 10px 10px;
  margin-bottom: 10px;
  align-items: center;
}
game-events-table route-link.card:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -0.5px, 0px);
}
game-events-table route-link.card route-link {
  color: #000066;
}
game-events-table route-link.card span[winner] {
  color: #005200;
}
game-events-table route-link.card span[loser] {
  color: #660000;
}
game-events-table route-link.card img {
  max-width: 70px;
  max-height: 70px;
  border-radius: 10px;
}
game-events-table #legend {
  padding: 10px 10px;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}
@media (max-width: 1050px) {
  game-events-table .non-mobile {
    display: none !important;
  }
}

about-view {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
@media (max-width: 600px) {
  about-view {
    max-width: 100vw;
  }
}
about-view h1 {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
about-view ol {
  padding-left: 45px;
  padding-right: 45px;
}
about-view ol li::marker {
  font-size: 1.2rem;
  font-weight: bold;
}
about-view ol h2 {
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 1.4rem;
}
about-view ol p {
  padding-left: 15px;
  margin-bottom: 15px;
}
about-view ol table {
  padding-left: 20px;
  padding-right: 40px;
  border-spacing: 0;
  border-collapse: separate;
}
about-view ol table td,
about-view ol table th {
  padding: 7.5px;
  border: solid 0.25px #1b1c1f;
  text-align: center;
}
about-view ol table tr:nth-child(odd),
about-view ol table th {
  background-color: #d2d2d2;
}
about-view ol table tr:nth-child(even),
about-view ol table th {
  background-color: gainsboro;
}

home-view {
  display: grid;
  grid-template-rows: max-content max-content max-content;
  grid-row-gap: 25px;
  justify-items: center;
}

player-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 500px 350px 1fr;
  grid-row-gap: 20px;
  grid-template-areas: "name" "metadata" "elo-graph" "game-records";
  justify-items: center;
}
player-view #graph {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 325px;
}
player-view #graph h2 {
  font-size: 1.8rem;
}
player-view #graph canvas {
  max-width: 350px;
  max-height: 350px;
  background: whitesmoke;
  border: 3px solid #eee;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.15s ease-in-out;
  font-size: 1.1rem;
  background-color: whitesmoke;
  padding: 15px 20px;
}
player-view #graph canvas:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -0.5px, 0px);
}
player-view #name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
player-view #name img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 10px;
}
player-view #player-personal-card {
  margin-left: -80px;
  display: flex;
  flex-direction: row;
}
player-view #player-personal-card span:not(.align-left) {
  display: flex;
  justify-content: center;
  text-align: center;
}
player-view #player-personal-card .align-left {
  display: flex;
  justify-content: left;
  text-align: left;
}
player-view #player-personal-card #content {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  margin-bottom: 35px;
  width: max-content;
  background: whitesmoke;
  border: 3px solid #eee;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.15s ease-in-out;
  font-size: 1.1rem;
  padding: 10px 10px;
  margin-bottom: 10px;
  align-items: center;
}
player-view #player-personal-card #content:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -0.5px, 0px);
}
player-view #player-personal-card #content route-link {
  color: #000066;
}
player-view #player-personal-card #content span[winner] {
  color: #005200;
}
player-view #player-personal-card #content span[loser] {
  color: #660000;
}
player-view #player-personal-card #content img {
  max-width: 70px;
  max-height: 70px;
  border-radius: 10px;
}
player-view #player-personal-card #content #nationalities {
  display: flex;
  gap: 5px;
  justify-content: center;
}
player-view #player-personal-card #legend {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 10px 10px;
}
player-view #player-personal-card #legend span {
  justify-content: end;
}

@media (min-width: 1050px) {
  players-view {
    display: flex;
    justify-items: center;
    justify-content: center;
  }
}

game-record-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
  justify-items: center;
}
game-record-view #glift {
  width: 500px;
  height: 500px;
}
game-record-view #players-names {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
game-record-view #players-names img {
  max-width: 90px;
  max-height: 90px;
  border-radius: 10px;
}
game-record-view #players-names route-link {
  color: #000066;
}
game-record-view #players-names span[winner] {
  color: #005200;
}
game-record-view #players-names span[loser] {
  color: #660000;
}
game-record-view #players-names #black,
game-record-view #players-names #white {
  display: grid;
  grid-template-columns: 50px max-content;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  align-items: center;
}
game-record-view #players-names route-link {
  display: flex;
  gap: 15px;
  display: grid;
  grid-template-columns: 90px 150px max-content max-content;
  grid-column-gap: 15px;
  align-items: center;
}
game-record-view #players-names route-link span {
  font-size: 1.2rem;
  font-weight: bold;
}
game-record-view #players-names route-link img {
  margin: 0 auto;
}
game-record-view #players-names svg {
  width: 50px;
  height: 50px;
}
game-record-view #card {
  margin-left: -40px;
  display: flex;
  flex-direction: row;
}
game-record-view #card span:not(.align-left) {
  display: flex;
  justify-content: center;
  text-align: center;
}
game-record-view #card .align-left {
  display: flex;
  justify-content: left;
  text-align: left;
}
game-record-view #card #legend {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 10px 10px;
}
game-record-view #card #legend span {
  justify-content: end;
}
game-record-view #card #content {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  margin-bottom: 35px;
  width: max-content;
  background: whitesmoke;
  border: 3px solid #eee;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.15s ease-in-out;
  font-size: 1.1rem;
  padding: 10px 10px;
  margin-bottom: 10px;
  align-items: center;
}
game-record-view #card #content:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -0.5px, 0px);
}
game-record-view #card #content route-link {
  color: #000066;
}
game-record-view #card #content span[winner] {
  color: #005200;
}
game-record-view #card #content span[loser] {
  color: #660000;
}
game-record-view #card #content img {
  max-width: 70px;
  max-height: 70px;
  border-radius: 10px;
}
game-record-view #card a#download {
  padding: 8px;
  border: 2px solid #666666;
  border-radius: 4px;
  color: black;
}

game-event-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
  justify-items: center;
}
game-event-view #event-name h2 {
  font-size: 2.2rem;
}
game-event-view #card span:not(.align-left) {
  display: flex;
  justify-content: center;
  text-align: center;
}
game-event-view #card .align-left {
  display: flex;
  justify-content: left;
  text-align: left;
}
game-event-view #card #legend {
  display: grid;
  grid-template-columns: 75px 90px 90px 65px 65px;
  grid-column-gap: 10px;
  justify-items: center;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 10px 10px;
}
game-event-view #card #content {
  display: grid;
  grid-template-columns: 75px 90px 90px 65px 65px;
  grid-column-gap: 10px;
  justify-items: center;
  margin-bottom: 35px;
  width: max-content;
  background: whitesmoke;
  border: 3px solid #eee;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.15s ease-in-out;
  font-size: 1.1rem;
  padding: 10px 10px;
  margin-bottom: 10px;
  align-items: center;
}
game-event-view #card #content:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -0.5px, 0px);
}
game-event-view #card #content route-link {
  color: #000066;
}
game-event-view #card #content span[winner] {
  color: #005200;
}
game-event-view #card #content span[loser] {
  color: #660000;
}
game-event-view #card #content img {
  max-width: 70px;
  max-height: 70px;
  border-radius: 10px;
}

search-view {
  display: grid;
  justify-items: center;
}
search-view form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
  font-size: 1.15rem;
  margin-top: 30px;
}
search-view form button {
  width: max-content;
  margin-top: 10px;
  padding: 7px 10px;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}
search-view form fieldset {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  border: 0;
}
search-view form fieldset label {
  height: 10px;
  padding-left: 1px;
}
search-view form fieldset input,
search-view form fieldset select {
  height: 35px;
  width: 290px;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}
search-view form fieldset input:focus-visible,
search-view form fieldset select:focus-visible {
  outline: #0000cc solid 1.5px;
}
search-view form fieldset input {
  padding-left: 10px;
  padding-right: 10px;
}
search-view form fieldset input[type=file] {
  border: 0;
  padding-left: 1px;
}
search-view form fieldset select {
  padding-left: 5px;
  padding-right: 5px;
}
search-view form fieldset div.multi-select {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
search-view button {
  width: max-content;
  margin-top: 10px;
  padding: 7px 10px;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}

unknown-view {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 300px;
  font-size: 1.8rem;
}

admin-view[signed-in=false] form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
  font-size: 1.15rem;
  margin-top: 30px;
}
admin-view[signed-in=false] form button {
  width: max-content;
  margin-top: 10px;
  padding: 7px 10px;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}
admin-view[signed-in=false] form fieldset {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  border: 0;
}
admin-view[signed-in=false] form fieldset label {
  height: 10px;
  padding-left: 1px;
}
admin-view[signed-in=false] form fieldset input,
admin-view[signed-in=false] form fieldset select {
  height: 35px;
  width: 290px;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}
admin-view[signed-in=false] form fieldset input:focus-visible,
admin-view[signed-in=false] form fieldset select:focus-visible {
  outline: #0000cc solid 1.5px;
}
admin-view[signed-in=false] form fieldset input {
  padding-left: 10px;
  padding-right: 10px;
}
admin-view[signed-in=false] form fieldset input[type=file] {
  border: 0;
  padding-left: 1px;
}
admin-view[signed-in=false] form fieldset select {
  padding-left: 5px;
  padding-right: 5px;
}
admin-view[signed-in=false] form fieldset div.multi-select {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
admin-view[signed-in=true] {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content max-content;
  grid-template-areas: "msg" "sign-out-button" "add-new-links";
}
admin-view[signed-in=true] button {
  width: max-content;
  margin-top: 10px;
  padding: 7px 10px;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}
admin-view[signed-in=true] div#return-msg {
  margin-top: 30px;
}
admin-view[signed-in=true] div#return-msg route-link {
  color: #004d00;
}
admin-view[signed-in=true] p {
  margin-top: 40px;
}
admin-view[signed-in=true] p span {
  color: darkblue;
}
admin-view[signed-in=true] #add-new p {
  margin-bottom: 20px;
}
admin-view[signed-in=true] #add-new ul {
  margin-left: 40px;
}
admin-view[signed-in=true] #add-new ul li {
  margin-bottom: 7px;
}
admin-view[signed-in=true] #add-new ul route-link {
  color: #004d00;
}

new-player-view form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
  font-size: 1.15rem;
  margin-top: 30px;
}
new-player-view form button {
  width: max-content;
  margin-top: 10px;
  padding: 7px 10px;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}
new-player-view form fieldset {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  border: 0;
}
new-player-view form fieldset label {
  height: 10px;
  padding-left: 1px;
}
new-player-view form fieldset input,
new-player-view form fieldset select {
  height: 35px;
  width: 290px;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}
new-player-view form fieldset input:focus-visible,
new-player-view form fieldset select:focus-visible {
  outline: #0000cc solid 1.5px;
}
new-player-view form fieldset input {
  padding-left: 10px;
  padding-right: 10px;
}
new-player-view form fieldset input[type=file] {
  border: 0;
  padding-left: 1px;
}
new-player-view form fieldset select {
  padding-left: 5px;
  padding-right: 5px;
}
new-player-view form fieldset div.multi-select {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
new-player-view div#return-msg {
  margin-top: 30px;
}
new-player-view div#return-msg route-link {
  color: #004d00;
}
new-player-view img#preview {
  max-width: 120px;
  margin: 0 auto;
}

new-game-event-view form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
  font-size: 1.15rem;
  margin-top: 30px;
}
new-game-event-view form button {
  width: max-content;
  margin-top: 10px;
  padding: 7px 10px;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}
new-game-event-view form fieldset {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  border: 0;
}
new-game-event-view form fieldset label {
  height: 10px;
  padding-left: 1px;
}
new-game-event-view form fieldset input,
new-game-event-view form fieldset select {
  height: 35px;
  width: 290px;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}
new-game-event-view form fieldset input:focus-visible,
new-game-event-view form fieldset select:focus-visible {
  outline: #0000cc solid 1.5px;
}
new-game-event-view form fieldset input {
  padding-left: 10px;
  padding-right: 10px;
}
new-game-event-view form fieldset input[type=file] {
  border: 0;
  padding-left: 1px;
}
new-game-event-view form fieldset select {
  padding-left: 5px;
  padding-right: 5px;
}
new-game-event-view form fieldset div.multi-select {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
new-game-event-view div#return-msg {
  margin-top: 30px;
}
new-game-event-view div#return-msg route-link {
  color: #004d00;
}

new-game-record-view form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
  font-size: 1.15rem;
  margin-top: 30px;
}
new-game-record-view form button {
  width: max-content;
  margin-top: 10px;
  padding: 7px 10px;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}
new-game-record-view form fieldset {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  border: 0;
}
new-game-record-view form fieldset label {
  height: 10px;
  padding-left: 1px;
}
new-game-record-view form fieldset input,
new-game-record-view form fieldset select {
  height: 35px;
  width: 290px;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}
new-game-record-view form fieldset input:focus-visible,
new-game-record-view form fieldset select:focus-visible {
  outline: #0000cc solid 1.5px;
}
new-game-record-view form fieldset input {
  padding-left: 10px;
  padding-right: 10px;
}
new-game-record-view form fieldset input[type=file] {
  border: 0;
  padding-left: 1px;
}
new-game-record-view form fieldset select {
  padding-left: 5px;
  padding-right: 5px;
}
new-game-record-view form fieldset div.multi-select {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
new-game-record-view div#return-msg {
  margin-top: 30px;
}
new-game-record-view div#return-msg route-link {
  color: #004d00;
}

/*# sourceMappingURL=index.css.map */
