$bgColor: #d7d7d7;
$lightFontColor: #f9f9f9;
$mainPaddingLeft: 15px;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;

  height: 100%;
}

body {
  background-color: $bgColor;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 42px 1fr;
}

a {
  text-decoration: none;
}

route-link:hover {
  cursor: pointer;
}

nav-bar {
  background-color: green;
  color: $lightFontColor;
  font-size: 1.1rem;

  padding-left: $mainPaddingLeft;
  padding-top: 10px;

  nav {
    display: flex;
    gap: 20px;
  }
}

main {
  padding-top: 10px;
  padding-left: $mainPaddingLeft;
}

home-view {
  table {
    margin-bottom: 20px;

    border-collapse: separate;
    border-spacing: 10px;

    caption {
      margin-bottom: 15px;

      h3 {
        font-size: 1.2rem;
        padding-left: 22px;
      }
    }

    th,
    caption {
      text-align: left;
    }

    th {
      padding-bottom: 10px;
    }

    td,
    th {
      padding-right: 20px;
    }

    td {
      padding-bottom: 15px;
      padding-top: 15px;
    }

    tbody {
      tr {
        td:first-child {
          padding-left: 15px;
        }

        outline: thin solid;
        border-width: 5px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
        transition: all 0.15s ease-in-out;

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
          transform: translate3d(0px, -0.5px, 0px);
        }
      }
    }
  }
}
