@mixin formButton {
  button {
    width: max-content;

    margin-top: 10px;
    padding: 7px 10px;

    font-size: 1.1rem;

    border-radius: 0.3rem;
    border: 1px solid gray;
  }
}

@mixin formFieldsetDecoration {
  border: 0;
}

@mixin formLabel {
  label {
    height: 10px;
    padding-left: 1px;
  }
}

@mixin formInputSelect {
  input,
  select {
    height: 35px;
    width: 275px;

    font-size: 1.1rem;

    border-radius: 0.3rem;
    border: 1px solid gray;

    &:focus-visible {
      outline: darken(blue, 10%) solid 1.5px;
    }
  }

  input {
    padding-left: 10px;
    padding-right: 10px;
  }

  select {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@mixin formGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
}

@mixin fieldsetGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35px 1fr;
}

@mixin form {
  form {
    @include formGrid;
    @include formButton;

    font-size: 1.15rem;
    margin-top: 50px;

    fieldset {
      @include fieldsetGrid;
      @include formFieldsetDecoration;
      @include formLabel;
      @include formInputSelect;
    }
  }
}

@mixin routeLinkDecoration {
  route-link {
    color: darken(green, 10%);
  }
}

@mixin formReturnMsg {
  div#return-msg {
    margin-top: 30px;

    @include routeLinkDecoration;
  }
}

admin-view {
  &[signed-in="false"] {
    @include form;
  }

  &[signed-in="true"] {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas: "msg" "sign-out-button" "add-new-links";

    @include formButton;
    @include formReturnMsg;

    p {
      margin-top: 40px;

      span {
        color: darkblue;
      }
    }

    #add-new {
      p {
        margin-bottom: 20px;
      }

      ul {
        margin-left: 40px;

        li {
          margin-bottom: 7px;
        }

        @include routeLinkDecoration;
      }
    }
  }
}
