admin-view {
  font-size: 1.15rem;

  button {
    width: max-content;

    margin-top: 10px;
    padding: 2px 7.5px;

    font-size: 1.1rem;
  }

  &[signed-in="false"] {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 200px;
    grid-template-areas: "form" "submit";

    margin-top: 150px;

    form {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 25px;
      grid-area: form;
      grid-template-areas: "username" "password";

      fieldset {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        border: 0;

        label {
          height: 10px;
          padding-left: 1px;
        }

        input {
          height: 30px;

          padding-left: 7.5px;

          font-size: 1.1rem;
        }
      }
    }
  }

  &[signed-in="true"] {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas: "msg" "sign-out-button" "add-new-links";

    p {
      margin-top: 40px;

      span {
        color: darkblue;
      }
    }

    #add-new {
      p {
        margin-bottom: 20px;
      }
      
      ul {
        margin-left: 40px;
        
        li {
          margin-bottom: 7px;
        }
        
        route-link {
          color: darken(green, 10%);
        }
      }
    }
  }
}
