@mixin cardDecoration {
  background: whitesmoke;

  border: 3px solid #eee;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.15s ease-in-out;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -0.5px, 0px);
  }
}

@mixin cardMarginPadding {
  margin-bottom: 10px;

  padding: 12px 0px;
  padding-left: 10px;
}

@mixin playerLink {
  route-link {
    color: darken(blue, 30%);

    &[winner] {
      color: darken(green, 0);
    }

    &[loser] {
      color: darken(red, 30%);
    }
  }
}

@mixin rankingTable {
  margin-bottom: 35px;

  width: max-content;
}

h3 {
  margin-bottom: 10px;
  padding-left: 5px;
}

@mixin card {
  @include rankingTable;
  @include cardDecoration;
  @include cardMarginPadding;
  @include playerLink;
}

$refWidth: 40px;
$eloWidth: 60px;

game-records-table {
  .game-record-card {
    > route-link {
      $playerNameWidth: minmax(100px, 150px);
      $eloDeltaWidth: 40px;
      $resultWidth: minmax(70px, max-content);

      display: grid;
      grid-template-columns: $refWidth $playerNameWidth $eloWidth $eloDeltaWidth $playerNameWidth $eloWidth $eloDeltaWidth $resultWidth;

      @include card;
    }
  }
}
