@use "../globals" as g;

nav-bar {
  background-color: green;
  font-size: 1.1rem;

  padding-left: g.$mainPaddingLeft;
  padding-top: 10px;

  nav {
    display: flex;
    gap: 20px;

    route-link {
      color: g.$lightFontColor;
    }
  }
}
