@use "../components/game_records_table" as grt;

players-table {
  @include grt.captionDecoration;

  @mixin cardLegendGrid {
    $playerNameWidth: minmax(100px, 200px);
    $playerCountriesWidth: minmax(60px, max-content);
    $danKyuWidth: 45px;
    $lastGameDateWidth: 100px;

    display: grid;
    grid-template-columns:
      grt.$refWidth $playerNameWidth $playerCountriesWidth
      grt.$eloWidth $danKyuWidth $lastGameDateWidth;
    grid-template-areas: "ref player-name countries elo dan-kyu last-game-date";
  }

  .player-card {
    > route-link {
      @include grt.card;
      @include cardLegendGrid;

      .dan-kyu {
        grid-area: dan-kyu;
        text-align: center;
        margin-left: -17px;
      }

      .countries {
        grid-area: countries;
        text-align: center;
        margin-left: -29px;
      }

      .centered {
        text-align: center;
      }
    }
  }

  .players-table-legend {
    @include cardLegendGrid;
    @include grt.cardPadding;
    @include grt.legendDecoration;

    .centered {
      text-align: center;
      margin-left: 8px;
    }
  }
}
