*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  height: 100%;
}

body {
  background-color: #d7d7d7;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 42px 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

a {
  text-decoration: none;
}

route-link:hover {
  cursor: pointer;
}

main {
  grid-area: main;
  display: grid;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 20px;
}

header {
  grid-area: header;
  background-color: green;
  font-size: 1.1rem;
  padding-left: 15px;
  padding-top: 10px;
}
header nav-bar nav {
  display: flex;
  gap: 20px;
}
header nav-bar nav route-link {
  color: #f9f9f9;
}

footer {
  grid-area: footer;
}
footer foot-er {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 10px;
  background-color: #d4d4d4;
}
footer foot-er svg {
  width: 24px;
  fill: #717171;
}

game-records-table h2 {
  padding-left: 13px;
}
game-records-table span:not(.align-left) {
  display: flex;
  justify-content: center;
  text-align: center;
}
game-records-table .align-left {
  display: flex;
  justify-content: left;
  text-align: left;
}
game-records-table .game-record-card > route-link {
  margin-bottom: 35px;
  width: max-content;
  background: whitesmoke;
  border: 3px solid #eee;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.15s ease-in-out;
  padding: 12px 8px;
  margin-bottom: 10px;
  align-items: center;
  display: grid;
  grid-template-columns: 30px 130px 60px 40px 130px 60px 40px 90px 110px 100px;
  grid-template-areas: "ref" "black elo-black elo-delta-black" "white elo-white elo-delta-white" "result date event";
  grid-column-gap: 10px;
}
game-records-table .game-record-card > route-link:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -0.5px, 0px);
}
game-records-table .game-record-card > route-link route-link {
  color: #000066;
}
game-records-table .game-record-card > route-link route-link[winner] {
  color: green;
}
game-records-table .game-record-card > route-link route-link[loser] {
  color: #660000;
}
game-records-table .game-records-table-legend {
  display: grid;
  grid-template-columns: 30px 130px 60px 40px 130px 60px 40px 90px 110px 100px;
  grid-template-areas: "ref" "black elo-black elo-delta-black" "white elo-white elo-delta-white" "result date event";
  grid-column-gap: 10px;
  padding: 12px 8px;
  align-items: center;
  font-weight: bold;
}

game-events-table h2 {
  padding-left: 13px;
}
game-events-table .game-event-card > route-link {
  margin-bottom: 35px;
  width: max-content;
  background: whitesmoke;
  border: 3px solid #eee;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.15s ease-in-out;
  padding: 12px 8px;
  margin-bottom: 10px;
  align-items: center;
  display: grid;
  grid-template-columns: "ref name";
  grid-template-columns: 30px 250px 65px;
}
game-events-table .game-event-card > route-link:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -0.5px, 0px);
}
game-events-table .game-event-card > route-link route-link {
  color: #000066;
}
game-events-table .game-event-card > route-link route-link[winner] {
  color: green;
}
game-events-table .game-event-card > route-link route-link[loser] {
  color: #660000;
}
game-events-table .game-event-card .game-event-name {
  margin-right: 15px;
}
game-events-table .game-event-card .centered {
  text-align: center;
  margin-left: -5px;
}
game-events-table .game-events-table-legend {
  padding: 12px 8px;
  align-items: center;
  font-weight: bold;
  display: grid;
  grid-template-columns: "ref name";
  grid-template-columns: 30px 250px 65px;
}
game-events-table .game-events-table-legend .centered {
  text-align: center;
}

players-table span:not(.align-left) {
  display: flex;
  justify-content: center;
  text-align: center;
}
players-table .align-left {
  display: flex;
  justify-content: left;
  text-align: left;
}
players-table h2 {
  padding-left: 13px;
}
players-table .player-card > route-link {
  margin-bottom: 35px;
  width: max-content;
  background: whitesmoke;
  border: 3px solid #eee;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.15s ease-in-out;
  padding: 12px 8px;
  margin-bottom: 10px;
  align-items: center;
  display: grid;
  grid-template-columns: 30px 70px 175px 40px 60px 45px 100px 80px;
  grid-template-areas: "ref player-picture player-name countries elo dan-kyu last-game-date";
  grid-column-gap: 10px;
}
players-table .player-card > route-link:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -0.5px, 0px);
}
players-table .player-card > route-link route-link {
  color: #000066;
}
players-table .player-card > route-link route-link[winner] {
  color: green;
}
players-table .player-card > route-link route-link[loser] {
  color: #660000;
}
players-table .player-card img {
  max-width: 70px;
}
players-table .players-table-legend {
  display: grid;
  grid-template-columns: 30px 70px 175px 40px 60px 45px 100px 80px;
  grid-template-areas: "ref player-picture player-name countries elo dan-kyu last-game-date";
  grid-column-gap: 10px;
  padding: 12px 8px;
  align-items: center;
  font-weight: bold;
}

about-view h1 {
  margin-bottom: 20px;
}
about-view h2 {
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 10px;
}
about-view p {
  padding-left: 39px;
}
about-view ul {
  padding-top: 20px;
  padding-left: 74px;
}
about-view ul li {
  margin-bottom: 6px;
}

home-view {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-row-gap: 25px;
}

player-view img {
  max-height: 80px;
}

player-view {
  display: grid;
  grid-row-gap: 10px;
}
player-view h2 {
  margin-bottom: 30px;
}

admin-view[signed-in=false] form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
  font-size: 1.15rem;
  margin-top: 30px;
}
admin-view[signed-in=false] form button {
  width: max-content;
  margin-top: 10px;
  padding: 7px 10px;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}
admin-view[signed-in=false] form fieldset {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  border: 0;
}
admin-view[signed-in=false] form fieldset label {
  height: 10px;
  padding-left: 1px;
}
admin-view[signed-in=false] form fieldset input,
admin-view[signed-in=false] form fieldset select {
  height: 35px;
  width: 290px;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}
admin-view[signed-in=false] form fieldset input:focus-visible,
admin-view[signed-in=false] form fieldset select:focus-visible {
  outline: #0000cc solid 1.5px;
}
admin-view[signed-in=false] form fieldset input {
  padding-left: 10px;
  padding-right: 10px;
}
admin-view[signed-in=false] form fieldset input[type=file] {
  border: 0;
  padding-left: 1px;
}
admin-view[signed-in=false] form fieldset select {
  padding-left: 5px;
  padding-right: 5px;
}
admin-view[signed-in=false] form fieldset div.multi-select {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
admin-view[signed-in=true] {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content max-content;
  grid-template-areas: "msg" "sign-out-button" "add-new-links";
}
admin-view[signed-in=true] button {
  width: max-content;
  margin-top: 10px;
  padding: 7px 10px;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}
admin-view[signed-in=true] div#return-msg {
  margin-top: 30px;
}
admin-view[signed-in=true] div#return-msg route-link {
  color: #004d00;
}
admin-view[signed-in=true] p {
  margin-top: 40px;
}
admin-view[signed-in=true] p span {
  color: darkblue;
}
admin-view[signed-in=true] #add-new p {
  margin-bottom: 20px;
}
admin-view[signed-in=true] #add-new ul {
  margin-left: 40px;
}
admin-view[signed-in=true] #add-new ul li {
  margin-bottom: 7px;
}
admin-view[signed-in=true] #add-new ul route-link {
  color: #004d00;
}

new-player-view form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
  font-size: 1.15rem;
  margin-top: 30px;
}
new-player-view form button {
  width: max-content;
  margin-top: 10px;
  padding: 7px 10px;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}
new-player-view form fieldset {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  border: 0;
}
new-player-view form fieldset label {
  height: 10px;
  padding-left: 1px;
}
new-player-view form fieldset input,
new-player-view form fieldset select {
  height: 35px;
  width: 290px;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}
new-player-view form fieldset input:focus-visible,
new-player-view form fieldset select:focus-visible {
  outline: #0000cc solid 1.5px;
}
new-player-view form fieldset input {
  padding-left: 10px;
  padding-right: 10px;
}
new-player-view form fieldset input[type=file] {
  border: 0;
  padding-left: 1px;
}
new-player-view form fieldset select {
  padding-left: 5px;
  padding-right: 5px;
}
new-player-view form fieldset div.multi-select {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
new-player-view div#return-msg {
  margin-top: 30px;
}
new-player-view div#return-msg route-link {
  color: #004d00;
}
new-player-view img#preview {
  max-width: 120px;
  margin: 0 auto;
}

new-game-event-view form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
  font-size: 1.15rem;
  margin-top: 30px;
}
new-game-event-view form button {
  width: max-content;
  margin-top: 10px;
  padding: 7px 10px;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}
new-game-event-view form fieldset {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  border: 0;
}
new-game-event-view form fieldset label {
  height: 10px;
  padding-left: 1px;
}
new-game-event-view form fieldset input,
new-game-event-view form fieldset select {
  height: 35px;
  width: 290px;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}
new-game-event-view form fieldset input:focus-visible,
new-game-event-view form fieldset select:focus-visible {
  outline: #0000cc solid 1.5px;
}
new-game-event-view form fieldset input {
  padding-left: 10px;
  padding-right: 10px;
}
new-game-event-view form fieldset input[type=file] {
  border: 0;
  padding-left: 1px;
}
new-game-event-view form fieldset select {
  padding-left: 5px;
  padding-right: 5px;
}
new-game-event-view form fieldset div.multi-select {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
new-game-event-view div#return-msg {
  margin-top: 30px;
}
new-game-event-view div#return-msg route-link {
  color: #004d00;
}

new-game-record-view form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
  font-size: 1.15rem;
  margin-top: 30px;
}
new-game-record-view form button {
  width: max-content;
  margin-top: 10px;
  padding: 7px 10px;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}
new-game-record-view form fieldset {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  border: 0;
}
new-game-record-view form fieldset label {
  height: 10px;
  padding-left: 1px;
}
new-game-record-view form fieldset input,
new-game-record-view form fieldset select {
  height: 35px;
  width: 290px;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
}
new-game-record-view form fieldset input:focus-visible,
new-game-record-view form fieldset select:focus-visible {
  outline: #0000cc solid 1.5px;
}
new-game-record-view form fieldset input {
  padding-left: 10px;
  padding-right: 10px;
}
new-game-record-view form fieldset input[type=file] {
  border: 0;
  padding-left: 1px;
}
new-game-record-view form fieldset select {
  padding-left: 5px;
  padding-right: 5px;
}
new-game-record-view form fieldset div.multi-select {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
new-game-record-view div#return-msg {
  margin-top: 30px;
}
new-game-record-view div#return-msg route-link {
  color: #004d00;
}

/*# sourceMappingURL=index.css.map */
