@use "../globals" as g;

footer {
  grid-area: footer;

  position: relative;
  bottom: 0;
  
  footer-container {
    display: flex;
    justify-content: center;
    width: 100vw;

    padding-bottom: 5px;
    padding-top: 10px;

    svg {
      width: 24px;
      fill: darken(g.$bgColor, 40%);
    }
  }
}
