@use "../globals" as g;

footer {
  grid-area: footer;

  footer-container {
    display: flex;
    justify-content: center;

    padding-bottom: 5px;
    padding-top: 10px;

    svg {
      width: 24px;
      fill: darken(g.$bgColor, 40%);
    }
  }
}
