@use "../globals.scss" as g;

@use "../components/table_utils" as tu;
@use "../components/players_table" as pt;

$gameEventTypeWidth: 75px;

game-events-table {
  $gameEventNameWidth: 160px;
  $gameEventFirstDate: 90px;
  $gameEventLastDate: 90px;

  @mixin cardLegendGridDesktop {
    display: grid;
    grid-template-columns:
      tu.$refWidth $gameEventNameWidth $gameEventTypeWidth
      pt.$gamesTotalWidth $gameEventFirstDate $gameEventLastDate;
    grid-column-gap: tu.$columnGap;
  }

  route-link.card,
  #legend {
    @include cardLegendGridDesktop;
  }

  @include tu.completeTableDecoration;

  @media (max-width: g.$desktopWidth) {
    @mixin cardLegendGridMobile {
      display: grid;
      grid-template-columns:
        tu.$refWidth $gameEventNameWidth $gameEventTypeWidth
        $gameEventFirstDate;
      grid-column-gap: tu.$columnGap;
    }

    route-link.card,
    #legend {
      @include cardLegendGridMobile;
    }
  }
}
