@mixin cardDecoration {
  background: whitesmoke;

  border: 3px solid #eee;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.15s ease-in-out;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -0.5px, 0px);
  }

  font-size: 1.1rem;
}

@mixin cardMargin {
  margin-bottom: 10px;
}

@mixin cardPadding {
  padding: 12px 8px;
  padding-right: 12px;
}

@mixin playerLink {
  route-link {
    color: darken(blue, 30%);

    &[winner] {
      color: darken(green, 9%);
    }

    &[loser] {
      color: darken(red, 30%);
    }
  }
}

@mixin rankingTable {
  margin-bottom: 35px;

  width: max-content;
}

@mixin captionDecoration {
  h2 {
    display: flex;
    justify-content: center;

    margin-bottom: 15px;

    font-size: 1.8rem;

    route-link {
      color: darken(green, 7%);
    }
  }
}

$pictureWidth: 70px;

@mixin imgDecoration {
  img {
    max-width: $pictureWidth;
    max-height: $pictureWidth;
    border-radius: 10px;
  }
}

@mixin card {
  @include rankingTable;
  @include cardDecoration;
  @include cardPadding;
  @include cardMargin;
  @include playerLink;
  @include imgDecoration;

  align-items: center;
}

@mixin legendDecoration {
  align-items: center;

  font-weight: bold;
}

@mixin spanAlignment {
  span:not(.align-left) {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .align-left {
    display: flex;
    justify-content: left;
    text-align: left;
  }
}

$refWidth: 30px;
$eloWidth: 60px;

$columnGap: 10px;

game-records-table {
  @include captionDecoration;
  @include spanAlignment;

  @mixin cardLegendGrid {
    $playerNameWidth: 130px;
    $eloDeltaWidth: 40px;
    $resultWidth: 90px;
    $dateWidth: 110px;
    $eventWidth: 100px;

    display: grid;
    grid-template-columns:
      $refWidth $pictureWidth $playerNameWidth $eloWidth
      $eloDeltaWidth $pictureWidth $playerNameWidth $eloWidth
      $eloDeltaWidth $resultWidth $dateWidth
      $eventWidth;
    grid-template-areas:
      "ref"
      "black-pic black elo-black elo-delta-black"
      "white-pic white elo-white elo-delta-white"
      "result date event";
    grid-column-gap: $columnGap;
  }

  div#game-records-table-pagination {
    display: flex;
    justify-content: center;
    
    margin-top: 30px;

    button {
      @include cardDecoration;
      @include cardMargin;
      @include cardPadding;
      
      cursor: pointer;
    }
  }

  route-link.game-record-card {
    @include card;
    @include cardLegendGrid;

    &[player-wins] {
      border-color: lighten(green, 3%);
    }

    &[player-loses] {
      border-color: darken(red, 22%);
    }
  }

  #game-records-table-legend {
    @include cardLegendGrid;
    @include cardPadding;
    @include legendDecoration;
  }
}
