@use "../components/table_utils" as tu;

game-records-table {
  @include tu.completeTableDecoration;

  @mixin cardLegendGrid {
    $playerNameWidth: 85px;
    $countryFlagsWidth: 60px;

    display: grid;
    grid-template-columns:
      tu.$refWidth
      tu.$pictureWidth $playerNameWidth $countryFlagsWidth tu.$handicapWidth
      tu.$eloWidth tu.$eloDeltaWidth
      tu.$pictureWidth $playerNameWidth $countryFlagsWidth
      tu.$eloWidth tu.$eloDeltaWidth
      tu.$resultWidth tu.$dateWidth tu.$eventWidth;
    grid-template-areas:
      "ref"
      "black-pic black country-flags handicapWidth elo-black elo-delta-black"
      "white-pic white country-flags elo-white elo-delta-white"
      "result date event";
    grid-column-gap: tu.$columnGap;
  }

  route-link.card,
  #legend {
    @include cardLegendGrid;
  }

  route-link.card {
    &[player-wins] {
      background-color: lighten(green, 70%);
    }

    &[player-loses] {
      background-color: lighten(red, 45%);
    }
  }
}
