@use "../components/table_utils" as tu;

@use "../components/players_table" as pt;

$gameEventTypeWidth: 75px;

game-events-table {
  @mixin cardLegendGrid {
    $gameEventNameWidth: 170px;
    $gameEventFirstDate: 90px;
    $gameEventLastDate: 90px;

    display: grid;
    grid-template-columns:
      tu.$refWidth $gameEventNameWidth $gameEventTypeWidth
      pt.$gamesTotalWidth $gameEventFirstDate $gameEventLastDate;
    grid-template-areas: "ref name type total-games";
    grid-column-gap: tu.$columnGap;
  }

  route-link.card,
  #legend {
    @include cardLegendGrid;
  }

  @include tu.completeTableDecoration;
}
