@use "../components/game_records_table" as grt;

game-events-table {
  @include grt.captionDecoration;
  @include grt.spanAlignment;

  @mixin cardLegendGrid {
    $gameEventNameWidth: 250px;
    $gamesTotalWidth: 65px;

    display: grid;
    grid-template-areas: "ref name total-games";
    grid-template-columns: grt.$refWidth $gameEventNameWidth $gamesTotalWidth;
    grid-column-gap: grt.$columnGap;
  }

  route-link.game-event-card {
    @include grt.card;
    @include cardLegendGrid;
  }

  .game-events-table-legend {
    @include grt.cardPadding;
    @include grt.legendDecoration;
    @include cardLegendGrid;
  }
}
