@use "../globals" as g;

header {
  grid-area: header;

  background-color: green;
  font-size: 1.1rem;

  padding-left: g.$mainPaddingLeft;
  padding-right: g.$mainPaddingLeft;
  padding-top: 10px;

  nav-bar {
    nav {
      display: flex;
      gap: 20px;

      route-link {
        color: g.$lightFontColor;

        svg {
          padding-top: 2px;
          width: 18px;
          fill: lighten(g.$lightFontColor, 50%);
        }
      }
    }
  }
}
