@use "../components/game_records_table" as grt;

players-table {
  @include grt.spanAlignment;
  @include grt.captionDecoration;
  @include grt.pagination;

  @mixin cardLegendGrid {
    $playerNameWidth: 175px;
    $playerCountriesWidth: 40px;
    $danKyuWidth: 45px;
    $lastGameDateWidth: 100px;
    $gamesTotalWidth: 80px;

    display: grid;
    grid-template-columns:
      grt.$refWidth grt.$pictureWidth $playerNameWidth $playerCountriesWidth
      grt.$eloWidth $danKyuWidth $lastGameDateWidth $gamesTotalWidth;
    grid-template-areas: "ref player-picture player-name countries elo dan-kyu last-game-date";
    grid-column-gap: grt.$columnGap;
  }

  route-link.player-card {
    @include grt.card;
    @include cardLegendGrid;
  }

  #players-table-legend {
    @include cardLegendGrid;
    @include grt.cardPadding;
    @include grt.legendDecoration;
  }
}
