@use "../components/game_records_table" as grt;

$gamesTotalWidth: 80px;

players-table {
  @mixin cardLegendGrid {
    $playerNameWidth: 155px;
    $playerCountriesWidth: 40px;
    $danKyuWidth: 45px;
    $lastGameDateWidth: 100px;

    display: grid;
    grid-template-columns:
      grt.$refWidth grt.$pictureWidth $playerNameWidth $playerCountriesWidth
      grt.$eloWidth $danKyuWidth $lastGameDateWidth $gamesTotalWidth;
    grid-template-areas:
      "ref"
      "player-picture player-name countries"
      "elo dan-kyu last-game-date";
    grid-column-gap: grt.$columnGap;
  }

  route-link.card,
  #legend {
    @include cardLegendGrid;
  }

  @include grt.completeTableDecoration;
}
