@use "../globals.scss" as g;

@use "../components/table_utils" as tu;

$gamesTotalWidth: 65px;

players-table {
  $danKyuWidth: 35px;
  $lastGameDateWidth: 100px;

  @mixin cardLegendGrid {
    display: grid;
    grid-template-columns:
      tu.$refWidth tu.$pictureWidthHeight tu.$playerNameWidth tu.$countryFlagsWidth
      tu.$eloWidth $danKyuWidth $lastGameDateWidth $gamesTotalWidth;
    grid-column-gap: tu.$columnGap;

    @media (max-width: g.$desktopWidth) {
      grid-template-columns:
        tu.$refWidth tu.$pictureWidthHeight tu.$playerNameWidth
        tu.$countryFlagsWidth tu.$eloWidth $danKyuWidth;
    }
  }

  route-link.card,
  #legend {
    @include cardLegendGrid;
  }

  @include tu.completeTableDecoration;
}
