*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  height: 100%;
}

body {
  background-color: #d7d7d7;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 42px 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

a {
  text-decoration: none;
}

route-link:hover {
  cursor: pointer;
}

main {
  grid-area: main;
  display: grid;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 20px;
}

header {
  grid-area: header;
  background-color: green;
  font-size: 1.1rem;
  padding-left: 15px;
  padding-top: 10px;
}
header nav-bar nav {
  display: flex;
  gap: 20px;
}
header nav-bar nav route-link {
  color: #f9f9f9;
}

footer {
  grid-area: footer;
}
footer foot-er {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 10px;
  background-color: #d4d4d4;
}
footer foot-er svg {
  width: 24px;
  fill: #717171;
}

game-records-table h2 {
  padding-left: 13px;
}
game-records-table .game-record-card > route-link {
  margin-bottom: 35px;
  width: max-content;
  background: whitesmoke;
  border: 3px solid #eee;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.15s ease-in-out;
  padding: 12px 0px;
  padding-left: 17px;
  padding-right: 12px;
  margin-bottom: 10px;
  align-items: center;
  display: grid;
  grid-template-columns: 30px 130px 60px 40px 130px 60px 40px 90px 110px 100px;
  grid-template-areas: "ref" "black elo-black elo-delta-black" "white elo-white elo-delta-white" "result date event";
}
game-records-table .game-record-card > route-link:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -0.5px, 0px);
}
game-records-table .game-record-card > route-link route-link {
  color: #000066;
}
game-records-table .game-record-card > route-link route-link[winner] {
  color: green;
}
game-records-table .game-record-card > route-link route-link[loser] {
  color: #660000;
}
game-records-table .game-record-card > route-link .centered {
  text-align: center;
  margin-left: -21px;
}
game-records-table .game-records-table-legend {
  display: grid;
  grid-template-columns: 30px 130px 60px 40px 130px 60px 40px 90px 110px 100px;
  grid-template-areas: "ref" "black elo-black elo-delta-black" "white elo-white elo-delta-white" "result date event";
  padding: 12px 0px;
  padding-left: 17px;
  padding-right: 12px;
  align-items: center;
  font-weight: bold;
}
game-records-table .game-records-table-legend .centered {
  text-align: center;
  margin-left: -20px;
}

game-events-table h2 {
  padding-left: 13px;
}
game-events-table .game-event-card > route-link {
  margin-bottom: 35px;
  width: max-content;
  background: whitesmoke;
  border: 3px solid #eee;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.15s ease-in-out;
  padding: 12px 0px;
  padding-left: 17px;
  padding-right: 12px;
  margin-bottom: 10px;
  align-items: center;
  display: grid;
  grid-template-columns: "ref name";
  grid-template-columns: 30px 250px;
}
game-events-table .game-event-card > route-link:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -0.5px, 0px);
}
game-events-table .game-event-card > route-link route-link {
  color: #000066;
}
game-events-table .game-event-card > route-link route-link[winner] {
  color: green;
}
game-events-table .game-event-card > route-link route-link[loser] {
  color: #660000;
}
game-events-table .game-event-card .game-event-name {
  margin-right: 15px;
}
game-events-table .game-events-table-legend {
  padding: 12px 0px;
  padding-left: 17px;
  padding-right: 12px;
  align-items: center;
  font-weight: bold;
  display: grid;
  grid-template-columns: "ref name";
  grid-template-columns: 30px 250px;
}

players-table h2 {
  padding-left: 13px;
}
players-table .player-card > route-link {
  margin-bottom: 35px;
  width: max-content;
  background: whitesmoke;
  border: 3px solid #eee;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.15s ease-in-out;
  padding: 12px 0px;
  padding-left: 17px;
  padding-right: 12px;
  margin-bottom: 10px;
  align-items: center;
  display: grid;
  grid-template-columns: 30px minmax(100px, 200px) minmax(60px, max-content) 60px 45px;
  grid-template-areas: "ref player-name countries elo dan-kyu";
}
players-table .player-card > route-link:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -0.5px, 0px);
}
players-table .player-card > route-link route-link {
  color: #000066;
}
players-table .player-card > route-link route-link[winner] {
  color: green;
}
players-table .player-card > route-link route-link[loser] {
  color: #660000;
}
players-table .player-card > route-link .dan-kyu {
  grid-area: dan-kyu;
  text-align: center;
  margin-left: -17px;
}
players-table .player-card > route-link .countries {
  grid-area: countries;
  text-align: center;
  margin-left: -29px;
}
players-table .players-table-legend {
  display: grid;
  grid-template-columns: 30px minmax(100px, 200px) minmax(60px, max-content) 60px 45px;
  grid-template-areas: "ref player-name countries elo dan-kyu";
  padding: 12px 0px;
  padding-left: 17px;
  padding-right: 12px;
  align-items: center;
  font-weight: bold;
}

about-view h1 {
  margin-bottom: 20px;
}
about-view h2 {
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 10px;
}
about-view p {
  padding-left: 39px;
}
about-view ul {
  padding-top: 20px;
  padding-left: 74px;
}
about-view ul li {
  margin-bottom: 6px;
}

home-view {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-row-gap: 25px;
}

player-view hr {
  margin-bottom: 20px;
}

player-view {
  display: grid;
  grid-row-gap: 10px;
}
player-view h2 {
  margin-bottom: 30px;
}

admin-view[signed-in=false] form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
  font-size: 1.15rem;
  margin-top: 150px;
}
admin-view[signed-in=false] form button {
  width: max-content;
  margin-top: 10px;
  padding: 2px 7.5px;
  font-size: 1.1rem;
}
admin-view[signed-in=false] form fieldset {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  border: 0;
}
admin-view[signed-in=false] form fieldset label {
  height: 10px;
  padding-left: 1px;
}
admin-view[signed-in=false] form fieldset input,
admin-view[signed-in=false] form fieldset select {
  height: 30px;
  padding-left: 7.5px;
  font-size: 1.1rem;
}
admin-view[signed-in=true] {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content max-content;
  grid-template-areas: "msg" "sign-out-button" "add-new-links";
}
admin-view[signed-in=true] button {
  width: max-content;
  margin-top: 10px;
  padding: 2px 7.5px;
  font-size: 1.1rem;
}
admin-view[signed-in=true] p {
  margin-top: 40px;
}
admin-view[signed-in=true] p span {
  color: darkblue;
}
admin-view[signed-in=true] #add-new p {
  margin-bottom: 20px;
}
admin-view[signed-in=true] #add-new ul {
  margin-left: 40px;
}
admin-view[signed-in=true] #add-new ul li {
  margin-bottom: 7px;
}
admin-view[signed-in=true] #add-new ul route-link {
  color: #004d00;
}

new-player-view form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
  font-size: 1.15rem;
  margin-top: 150px;
}
new-player-view form button {
  width: max-content;
  margin-top: 10px;
  padding: 2px 7.5px;
  font-size: 1.1rem;
}
new-player-view form fieldset {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  border: 0;
}
new-player-view form fieldset label {
  height: 10px;
  padding-left: 1px;
}
new-player-view form fieldset input,
new-player-view form fieldset select {
  height: 30px;
  padding-left: 7.5px;
  font-size: 1.1rem;
}
new-player-view h4 {
  margin-top: 40px;
}
new-player-view h4 route-link {
  color: #004d00;
}

new-game-event-view form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
  font-size: 1.15rem;
  margin-top: 150px;
}
new-game-event-view form button {
  width: max-content;
  margin-top: 10px;
  padding: 2px 7.5px;
  font-size: 1.1rem;
}
new-game-event-view form fieldset {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  border: 0;
}
new-game-event-view form fieldset label {
  height: 10px;
  padding-left: 1px;
}
new-game-event-view form fieldset input,
new-game-event-view form fieldset select {
  height: 30px;
  padding-left: 7.5px;
  font-size: 1.1rem;
}

new-game-record-view form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
  font-size: 1.15rem;
  margin-top: 150px;
}
new-game-record-view form button {
  width: max-content;
  margin-top: 10px;
  padding: 2px 7.5px;
  font-size: 1.1rem;
}
new-game-record-view form fieldset {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  border: 0;
}
new-game-record-view form fieldset label {
  height: 10px;
  padding-left: 1px;
}
new-game-record-view form fieldset input,
new-game-record-view form fieldset select {
  height: 30px;
  padding-left: 7.5px;
  font-size: 1.1rem;
}

/*# sourceMappingURL=index.css.map */
